@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,400;1,300&family=Palanquin:wght@300&family=Roboto+Slab:wght@300&family=Work+Sans:wght@300;400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Palanquin", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Work Sans", sans-serif;
}
